:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-active-control-background: #e5f3ff;
    --color-active-control-outline: #74bcfc;

    font-family: var(--font);
}

#og-body {
    margin: 0;
}

/* Click to open / Welcome */

#og-click-to-open {
    display: flex;
    visibility: hidden;
    height: 100vh;

    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

#og-frame {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#og-reader-host {
    flex: 1;
    overflow-y: auto;
}

/* Footer */

#og-footer {
    font-size: 0.8rem;
    cursor: default;
    padding: 0.2rem 0.5ch;
    display: flex;
    user-select: none;


    #og-spine-position {
        margin-inline: auto;
        align-self: center;
    }

    #og-toc-button-label {
        margin-inline-start: 2px;
    }

    .og-starting-icon {
        display: inline-block;

        img {
            vertical-align: text-bottom;
            height: 1.25em;
        }
    }

    label.og-starting-icon {
        border: 1px solid gray;
        border-style: inset;
        padding-inline-start: 2px;

        /* Add a space between adjacent <label>s */
        & + label.og-starting-icon {
            margin-inline-start: 2px;
        }

        &:has(input:focus) {
            background-color: var(--color-active-control-background);
            outline: 1px solid gray;
        }

        input {
            width: 6ch;

            border: none;
            &:focus {
                outline: none;
                background: inherit
            }
        }
    }

    button {
        border: none;
        background: none;

        &:hover {
            background-color: var(--color-active-control-background);
            outline: 1px solid var(--color-active-control-outline);
        }
    }

    button, input {
        font-family: var(--font);
        font-size: inherit;
    }
}

/* TOC modal */

#og-toc-nav {
    ol {
        /* Remove the numbers */
        list-style: none;

        &:first-child {
            /* Remove the indentation of the root <ol> */
            padding-inline-start: 0;
        }
    }

    button {
        /* Whole width clickable */
        width: 100%;

        border: none;
        background: none;

        text-align: left;

        &:hover {
            background-color: var(--color-active-control-background);
        }
    }

    li:hover {
        outline: 1px solid var(--color-active-control-outline);
    }
}

/* Preview modal */

#og-preview-div {
    .og-note-icon::before {
        content: url(/src/assets/fluent/notebook_arrow_curve_down_20_regular.svg);
    }
}
