:root {
	/* Everywhere in this UI should use the chosen font of the host system */
	--font: system-ui;
	font-family: var(--font);

	/* Colors */
	--color-active-control-background: light-dark(#e5f3ff, #023461);
	--color-active-control-outline: light-dark(#74bcfc, #043e70);
	--color-active-item-text: #1469b3;
	--color-warning-text: brown;
	--color-ui-bg: light-dark(white, #2b2b2b);
	--color-ui-fg: light-dark(black, white);
	--color-footer-bg: light-dark(transparent, #151515);

	color-scheme: light dark;
	background-color: var(--color-ui-bg);
	color: var(--color-ui-fg);
}
button,
input {
	font-family: var(--font);
	font-size: inherit;
}

#og-body {
	margin: 0;
}

/* Click to open / Welcome */

#og-click-to-open {
	display: flex;
	height: 100vh;

	align-items: center;
	justify-content: center;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}

#og-frame {
	display: flex;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
}

#og-reader-host {
	flex: 1;
	overflow-y: auto;
}

/* Footer */

#og-footer {
	/* Positioning */
	display: flex;
	align-items: center;
	text-wrap-mode: nowrap;
	overflow: hidden;
	justify-content: space-between;
	#og-toc-button {
		flex-shrink: 1;
		min-width: 6em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#og-customization {
		margin-inline-start: 2ch;
	}

	background-color: var(--color-footer-bg);
	font-size: 0.8rem;
	cursor: default;
	padding: 0.2rem 0.5ch;
	user-select: none;

	#og-toc-button-label {
		margin-inline-start: 2px;
	}

	.og-starting-icon {
		display: inline-block;

		img {
			vertical-align: text-bottom;
			height: 1.25em;
		}
	}

	button > img {
		vertical-align: text-bottom;
		height: 1.25em;
	}

	label.og-starting-icon {
		border: 1px solid gray;
		border-style: inset;
		padding-inline-start: 2px;

		/* Add a space between adjacent <label>s */
		& + label.og-starting-icon {
			margin-inline-start: 2px;
		}

		&:has(input:focus) {
			background-color: var(--color-active-control-background);
			outline: 1px solid gray;
		}

		input {
			width: 6ch;

			border: none;
			&:focus {
				outline: none;
				background: inherit;
			}
		}
	}

	button {
		border: none;
		background: none;

		&:hover {
			background-color: var(--color-active-control-background);
			outline: 1px solid var(--color-active-control-outline);
		}

		&:disabled:hover {
			background-color: unset;
		}
	}
}

/* Modals */

dialog {
	padding: 0;
	form:first-child {
		padding: 0.8rem;
		display: flex;
		flex-direction: column;
		header:first-child {
			flex: 0 0;
			display: flex;
			justify-content: space-between;
			button {
				background: none;
				border: none;
				&:hover {
					background-color: var(--color-active-control-background);
					outline: 1px solid var(--color-active-control-outline);
				}
			}
			margin-block-end: 0.25em;
		}
	}
}

/* TOC modal */

#og-toc-nav {
	h1 {
		/* The TOC heading should not stand out */
		margin-block: 0;
		font-size: 0.9em;
		text-align: center;
	}

	ol {
		/* Remove the numbers */
		list-style: none;
	}

	& > ol {
		/* Remove the indentation of the root <ol> */
		padding-inline-start: 0;
	}

	button {
		/* Whole width clickable */
		width: 100%;

		border: none;
		background: none;

		text-align: left;

		&:hover {
			background-color: var(--color-active-control-background);
		}

		&:disabled {
			color: var(--color-active-item-text);
		}
		&:disabled:hover {
			background-color: inherit;
		}
	}

	li:hover {
		outline: 1px solid var(--color-active-control-outline);
	}
}

/* Details modal */

#og-details-div {
	display: flex;
	flex-direction: row;

	figure {
		img,
		h1 {
			/* FIXME */
			max-width: 30vw;
			height: 20em;
		}

		figcaption {
			font-size: smaller;
			color: var(--color-warning-text);
		}
	}

	& > div {
		max-width: 28em;

		summary,
		dt {
			cursor: default;
			user-select: none;
		}

		dd {
			ol {
				margin-block: 0;
				padding-inline-start: 2ch;
				list-style-type: lower-roman;
			}
		}
	}

	.og-details-refinement {
		cursor: help;
		&:hover {
			text-decoration: underline;
		}
	}

	.og-details-mono-font {
		font-family: monospace;
		font-size: 0.9rem;
		line-height: 1.33;
	}

	.og-capitalize {
		text-transform: capitalize;
	}
}

/* Preview modal */

#og-preview-div {
	.og-note-icon::before {
		content: url(/src/assets/fluent/notebook_arrow_curve_down_20_regular.svg);
		vertical-align: middle;
	}
}

#og-preview-go-there {
	float: right;
	font-size: smaller;
}
